<html>
    <head>
        <title>No Script No Style</title>
        <style>
                #SECTION-TOP {
                    background-color: #7ed6df;
                    
                }
                #SECTION-URL {
                    background-color:#130f40;
                    
                }
                #SECTION-URL a {
                    color: white;
                }
        </style>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>

    <body>
        <section id="SECTION-TOP" class="py-3">
            <div class="container">
                <div class="mx-3">
                    <h1 class="my-3">No Script No Style</h1>
                    <form class="form my-3" id="post_url" method="POST">
                        <div class="row">
                            <div class="col">
                                <input class="form-control form-control-lg" id="url" name="nsns-url" placeholder="Enter URL">
                            </div>
                            <div class="col-2 text-right">
                                <button type="submit" class="btn btn-lg btn-dark mx-3">Load URL</button>
                            </div>
                        <!-- /row -->
                        </div>
                    </form>
                </div>
            </div>
        </section>
            
        {% if url %}
            <section id="SECTION-URL" class="py-2 mb-2">
                <div class="container">
                    <p class="my-2 mx-3"><a href="{{ url }}">{{ url }}</a></p>
                </div>
            </section>
            
            <div class="container">
                {{ content|safe }}
            </div>
        {% endif %}

        
        <!-- /div container -->
    </body>
</html>